* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: 'Segoe UI';
}

body {
    max-width: 100%;
    height: 100vh;
    /* align-items: center; */
}

.container {
    position: relative;
    border: 2px solid black;
    width: 100%;
    height: auto;
    background-color: #121212;
}

.navbar {
    padding-left: 25px;
    border: 2px solid rgb(56, 51, 51);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.left-side {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.home-btn {
    display: flex;
    /* justify-content:space-between; */
    align-items: center;
    gap: 10px;
}

.home {
    border: 1px solid black;
    padding: 7px 10px;
    border-radius: 50%;
    background-color: #2a2a2a;
}

.search-bar {
    border: 1px solid black;
    padding: 7px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    border: none;
    gap: 10px;
    background-color: #2a2a2a;
}

.search-bar input{
    border: none;
    width: 27vw;
    background-color: #2a2a2a;
    padding: 5px 0;
    font-size: 17px;
    font-weight:500;
}

.right-nav {
    margin-right: 10px;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
}

.right-nav,
ul,
li,
a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    gap: 13px;
    list-style-type: none;
    color: rgb(160, 148, 148);
}

.vertical-line {
    border: 1.6px solid rgb(136, 129, 129);
    height: 25px;
    
}

.download {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.navbar span img {
    width: 29px;
}

.login-btn {
    width: 180px;
    height: 50px;
    margin-bottom: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.log-in{
    padding: 15px 28px;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 700;
    background-color: #ffffff;
}

.sign-up {
    padding: 5px;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 700;
    color: #938383;
    border: none;
    background: none;
}

main {
    display: flex;
    gap: 7px;
    padding: 5px;
    height: 100vh;
    background-color: #121212;
}

.left {
    width: 23vw;
    /* border: 1.6px solid white; */
    border-radius: 8px;
    background-color: #1f1f1f;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    
    color: #ffffff;
}

.nav-links li a {
    color: #9b8f8f;
    font-size: 17px;
}

.nav-menu li a {
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    font-size: 35px;
    font-weight: 700;
    color: #ffffff;
}

.playlist-creation {
    width: 28.7vw;
    height: 59vh;
    margin: auto;
    border-radius: 10px;
    /* background: #242323; */
    position: relative;
    overflow: hidden;
}

.playlists {
    color: #ffffff;
    margin-left: 14px;
    padding: 5px 20px;
    height: 22vh;
    width: 19vw;
    border-radius: 10px;
    background-color: #2a2a2a;
}

.playlist-cover{
    height: 55vh;
    margin-top: 20px;
    transition: transform 0.5s ease;
}


.playlist-title {
    font-weight: 700;
}

.playlists,
button {
    margin-top: 19px;
}

.create-playlist {
    padding: 7px 14px;
    border-radius: 20px;
    background: #ffffff;
    font-size: 15px;
    font-weight: 700;
}

.add-button {
    font-size: 80px;
}

.right {
    width: 70vw;
    max-height: 100vh;
    /* overflow-y: scroll; */
    position: relative;
    background-color: #1f1f1f;
    border-radius: 8px;
}

.podcast-suggestions {
    margin-left: 30px;
    margin-top: 20px;
    gap: 15px;
    width: 300px;
}

.podcast-suggestions,
li a {
    display: flex;
    flex-wrap: wrap;
    color: #ffffff;
    font-size: small;
}

.English{
    width: 100px;
    margin: 30px;
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid white;
    display: flex;
    gap: 8px;
}

.English img{
    width: 20px;
}
.English a{
    color: #ffffff;
}

.spotify-playlists{
    padding: 16px
}

.spotify-playlists h1{
    color: #ffffff;
}

.spotify-playlists p{
    color: gray;
}

.cardContainer{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.card{
    position: relative;
    width: 200px;
    height: 305px;
    padding: 12px;
    border-radius: 7px;
    cursor: pointer;
}

.card:hover{
    background: rgb(34, 33, 33);
}

.card img{
    width: 200px;
    border-radius: 7px;
}

.card h4{
    color: #ffffff;
}

.play{
    position: absolute;
    z-index: 1;
    margin:145px 0 0 145px;
    padding:12px 10px;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background-color: green;
    opacity: 1;
    transition: all 1s ease-out;
}


.playbar{
    position: absolute;
    z-index: 1;

    bottom: 0;
    background-color: rgb(50, 51, 50);
    width: 97%;
    margin: 0 auto;
    padding: 12px;
    display: grid;
    grid-template-columns: 4fr 15fr 2fr;
    /* border-radius: 40px; */
}

.play-bar{
    /* position: relative; */
    width: 32vw;
    /* z-index: 0; */
}

.play-btn{
    z-index: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #938383; */
    height: 45px;
    gap: 10px;
}

.seekbar{
    position: absolute;
    z-index: 1;
    width: 390px;
    height: 4px;
    border-radius: 7px;
    /* border: 2px solid grey; */
    background-color: rgb(117, 120, 119);
    padding-top: 3px;
    bottom: 0;
}

.circle{
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: #fcfbfb;
    position: relative;
    bottom: 6px;
    left: 0%;
    transition: left 0.5s;
}

.invert{
    width: 22px;
    cursor: pointer;
}

/* .invert:hover{
    background: rgb(94, 210, 94);
} */

.play-list{
    width: 60vh;
}
.songList ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 9px 5px;
}

.music-singer{
    font-size: 12px;
}

.songList ul li{
    display: grid;
    grid-template-columns: .1fr 1.7fr 1fr;
    width: 300px;
    border: 2px solid white;
    padding: 7px 6px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    background-color: #322e2e;
}

.music-name{
    font-size: 14px;
    font-weight: 600;
}

.playnow span{
    font-size: 11px;
}

.playnow{
    display: flex;
    gap: 6px;
}